
body{
  font-family: 'Museo Sans Cyrl 300', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}

ul,li {
	padding: 0;
	margin: 0;
	display: block;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Museo Sans Cyrl 700';
	color: #081d42;
}

div, section, form, button, span, p, a, input {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

a, a:active, a:hover {
	text-decoration: none;
}

.red {
	color: #b81c31;
}

.upper {
	text-transform: uppercase;
	font-size: 12px;
}

button, button:hover, button:active, button:focus {
	outline: none;
}

input, input:hover, input:active, input:focus {
	outline: none;
}


/* Home 1st screen */

.header {
	background: #f6f6f7; /* фон под всплывающим меню гамбургера*/
}

.main-header {
	background: url(../img/chicago.jpg) top center no-repeat / cover;
	height: 100vh;
	position: relative;
}

.container {
	position: relative;
}

.container-first {
	height: 100vh;
}

.top-line {
	height: 110px;
	width: 100%;
	position: absolute;
	top: 0;
	background: rgba(199,201,218,0.4);
	border-top: 5px solid #58647a;
	border-bottom: 4px solid rgba(198,204,225,0.4);;
}

.top-line-secondary {
	border-bottom: 4px solid rgba(88,100,122,0.02);
}

.bottom-line {
	height: 16px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(255,255,255,0.1);
}

.menu {
	align-items: center;
	font-family: 'Museo Sans Cyrl 700';
	padding: 22px 0 13px;
}

.menu__item {
	font-size: 17px;
	color: #3f4b60;
	padding: 7px;
	border: 2px solid rgba(0,0,0,0);
	transition: all 1s ease;
}
.menu__item:hover {
	font-size: 17px;
	color: #848a93;
	border-top: 2px solid #b81c31;
	border-radius: 10px;
}

.order__btn {
	width: 156px;
	background: #1cb883;
	padding: 9px 16px;
	transition: all 0.2s ease;
	box-shadow: 0 -4px 0 #149d6f inset;
	display: block;
	font-size: 13px;
	color: #fff;
}

.order__btn:hover {
	color: #fff;
}

.order__btn:active {
	background: #149d6f;
	margin-top: 2px;
}

.order__btn:hover > i {
	color: #fff;
}

.order__btn:active > i {
	color: #fff;
}

.fa-phone {
	color: #46e6b0;
	font-size: 18px;
	margin-right: 7px;
}
/*HAMBURGER*/
.menu__open {
	background: none;
	outline: none;
	border: none;
	font-size: 24px;
	color: #081d42;
	transition: all 4000s ease;
}

.opened {
	order: 1;
	
}

.opened .menu__nav {
	background: rgba(190,192,213,1);
	background: -moz-linear-gradient(top, rgba(190,192,213,1) 0%, rgba(190,192,213,1) 51%, rgba(190,192,213,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(190,192,213,1)), color-stop(51%, rgba(190,192,213,1)), color-stop(100%, rgba(190,192,213,0)));
	background: -webkit-linear-gradient(top, rgba(190,192,213,1) 0%, rgba(190,192,213,1) 51%, rgba(190,192,213,0) 100%);
	background: -o-linear-gradient(top, rgba(190,192,213,1) 0%, rgba(190,192,213,1) 51%, rgba(190,192,213,0) 100%);
	background: -ms-linear-gradient(top, rgba(190,192,213,1) 0%, rgba(190,192,213,1) 51%, rgba(190,192,213,0) 100%);
	background: linear-gradient(to bottom, rgba(190,192,213,1) 0%, rgba(190,192,213,1) 51%, rgba(190,192,213,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bec0d5', endColorstr='#bec0d5', GradientType=0 );
	padding: 30px 0;
	margin-top: 15px;

}

.offer {
	color: #081d42;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -100px;
	margin-left: 15px;
}

.offer__title {
	font-size: 58px;
}

.offer__txt {
	font-family: 'Museo Sans Cyrl 100';
	font-size: 29px;
	width: 470px;
}

.media {
	width: 166px;
	padding: 8px 18px;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	border: 3px solid rgba(255,255,255,0.15);
	position: absolute;
	bottom: 25%;
	left: 0;
	margin-left: 15px;
}

.fa-facebook {
	color: #2b5f9f;
	padding: 7px 10px;
	border: 2px solid #2b5f9f;
	transition: all 0.5s ease;
}

.fa-twitter {
	color: #43c9fd;
	padding: 7px 7px;
	border: 2px solid #43c9fd;
	transition: all 0.5s ease;
}

.fa-telegram {
	color: #25a3d4;
	padding: 7px 7px;
	border: 2px solid #25a3d4;
	transition: all 0.5s ease;
}

.fa-facebook:hover {
	color: #fff;
	background: #2b5f9f;
}

.fa-twitter:hover {
	color: #fff;
	background: #43c9fd;
}

.fa-telegram:hover {
	color: #fff;
	background: #25a3d4;
}

/* ORDER FORM*/
.order-call {
	background: url('../img/Logo-footer.png') no-repeat 40px 0;
	text-align: center;
	padding: 120px 30px 20px;
	width: 500px;
}

.order__title {
	font-size: 20px;
	color: #08152e;
}

.order__input {
	margin-top: 13px;
	padding: 7px 20px;
	color: #aeaeae;
	background: none;
	border: none;
	border-bottom: 1px solid #727476;
}

.order__input:focus {
	color: #ffeaed;
	border-bottom: 1px solid #ffeaed;
}

.order__input:focus::-webkit-input-placeholder {
    color: #ffeaed;
}

.order__text {
	font-family: 'Museo Sans Cyrl 100';
	font-size: 14px;
	color: #aeaeae;
	margin: 12px 0;
}

.order__button {
	font-family: 'Museo Sans Cyrl 100';
	padding: 9px 0;
	background: none;
	border: none;
	border-radius: 3px;
	margin: 0 20px;
	font-size: 20px;
	transition: all 0.5s ease;
	color: #aeaeae;
}

.order__button:hover {
	background: rgba(70,10,20,1);
	color: #fff;
}

.order__button:active {
	box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
	color: #aeaeae;
}

/* Trust 2nd screen */

.trust {
	text-align: center;
	position: relative;
	background: #f1f1f3;
}

.trust__title {
	font-size: 29px;
	color: #081d42;
	margin-top: 50px;
}

.trust__icon {
	border: 4px solid #e8e8e8;
	width: 120px;
	height: 120px;
	border-radius: 100px;
	margin: 0 auto;
}

.trust__icon_bolt {
	background: url('../img/bolt.png')no-repeat 35px 25px #c8cbdb;
}

.trust__icon_press {
	background: url('../img/press.png')no-repeat 25px 25px #c8cbdb;
}

.trust__icon_star {
	background: url('../img/star.png')no-repeat 26px 25px #c8cbdb;
}

.trust__secondary-title {
	font-size: 21px;
	color: #081d42;
	margin-top: 20px;
}

.usual-text {
	margin-top: 13px;
	font-size: 14px;
	color: #4c4c53;
	letter-spacing: -0.1pt;
	line-height: 1.4;
	margin-bottom: 100px;
}

.trust .order__btn {
    font-family: 'Museo Sans Cyrl 700';
    font-size: 16px;
    width: 170px;
    padding: 11px 0;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -85px;
    margin-bottom: -23px;
}
/* Point 3rd screen */

.point {
	text-align: center;
	margin-top: 100px;
}

.point__icon {
	border: 4px solid #e8e8e8;
	width: 86px;
	height: 86px;
	border-radius: 100px;
	margin: 0 auto;
	font-size: 50px;
	color: #fff;
}

.point__icon_l {
	background: url('../img/L-shadow.png')no-repeat 31px 19px #102e62;	
}

.point__icon_a {
	background: url('../img/A-shadow.png')no-repeat 26px 20px #102e62;	
}

.point__icon_b {
	background: url('../img/B-shadow.png')no-repeat 29px 19px #102e62;
}
	
.point__secondary-title {
	font-family: 'Museo Sans Cyrl 100';
	font-size: 24px;
	color: #081d42;
}

.point__text {
	margin-bottom: 80px;
}

/* Mission */

.mission {
	background: url(../img/4thscreen.png) no-repeat center top  #58647a / cover;
}

.mission__title {
	font-size: 23px;
	color: #a9afb8;
	display: block;
    margin-top: 40px;
}

.mission__title:after {
	content: '';
	display: block;
	height: 3px;
	background: rgba(255,255,255,0.1);
	margin-top: 10px;
}

.mission__title_first {
    width: 620px;
}

.mission__title_second {
    width: 263px;
}

.mission__left {
	padding-right: 30px;
	background: none;
}

.mission__text {
    font-size: 15px;
    margin-top: 20px;
    color: #d3d5da;
    letter-spacing: -0.2pt;
    line-height: 1.4;
}

.empty__btn {
    font-family: 'Museo Sans Cyrl 700';
    font-size: 16px;
    display: block;
    width: 170px;
    padding: 10px 0;
    color: #ced1d8;
    border: 2px solid #ced1d8;
    margin: 40px 0 60px;
    text-align: center;
}

.empty__btn:hover {
    color: #58647a;
    background: #ced1d8;
}

.empty__btn:active {
    color: #424a58;
    box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
    border: none;
    padding: 12px 0;
}

.mission__news {
    align-items: start;
}

.news__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    padding-bottom: 14px;	
}

.news__image {
	width: 56px;
	height: 56px;
	margin-right: 16px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.news__text {
    font-family: 'Museo Sans Cyrl 700';
    font-size: 12px;
    color: #dddfe3;
    width: 170px;
}

.news__date {
    font-family: 'Museo Sans Cyrl 100';
    font-size: 10px;
    color: #a4aab5;
    text-align: right;
}

/* About */

.about {
	background: #3a4456;
	padding-bottom: 40px;
}

.about__title {
	font-size: 19px;
	color: #c9cace;
	margin: 40px 0 15px;
}

.about__link {
	font-size: 14px;
	color: #a5a8af;
	line-height: 20px;
	display: block;
	transition: all 500ms ease;
}

.about__link:hover {
	color: #fff;
}

/* Footer */

.footer {
	color: #9c9da1;
	font-family: 'Museo Sans Cyrl 100';
	background: #1f2531;
}

.footer__logo img {
	margin-bottom: 43px;
}

.credits__text {

	font-size: 12px;
	width: 195px;
}

.credits__text_address {
	width: 110px;
	margin-top: 13px;
}

.credits__dev {
	font-size: 10px;
}

.rectangle {
	width: 25px;
	height: 25px;
	border: 1px solid #acafb3;
	margin-top: 3px;
	margin-right: 6px;
	text-align: center;
	line-height: 25px;
	color: #acafb3;
	font-size: 14px;
}

.credits__rights {
	font-size: 12px;
	margin-top: 25px;
}

.credits__rights > * {
	display: block;
}

.rights__bold {
	font-family: 'Museo Sans Cyrl 700';
}

.rights__link {
	color: #9c9da1;
	text-decoration: solid;
}

.rights__link:hover {
	color: #fff;
}

.footer-line {
	height: 19px;
	background: #58647a;
	border-bottom: 1px solid #1f2531;
}

/* ABOUT page*/

.navigation {
	background: #f6f6f7;
}

.navigation__media {
	width: 130px;
}

.tagline-text {
	width: 270px;
	color: #b4b6be;
	font-size: 12px;
}

.triangle {
	content: '';
	height: 100%;
	border: 10px solid transparent; /* Прозрачные границы */
	border-left: 10px solid #d0d4da; /* Добавляем треугольник */
	margin-left: 27px;
	margin-top: 6px;
}

.search__input {
	font-size: 13px;
	color: #8a8a8a;
	padding: 13px 20px;
	padding-right: 0;
	border: 3px solid #eeeeef;
	border-radius: 3px;
	position: relative;
	outline: none;
}

.search-button {
	font-size: 16px;
	color: #bbbbbc;
	position: absolute;
	top: 14px;
	right: 10px;
}

.search {
	margin: 5px 0 11px;
	position: relative;
}

.titling {
	font-family: 'Museo Sans Cyrl 700';
	padding: 30px 0 45px;
	background: #fafafb;
}

.titling__title {
	font-size: 37px;
}

.titling__block{
	font-family: 'Museo Sans Cyrl 300';
	font-size: 15px;
	color: #888d96;
}

.titling__link {
	border-bottom: 1px solid #49556b;
	color: #49556b;
}

.titling__link:hover {
	border-color: #081d42;
	color: #081d42;
}

.titling__nav {
    margin-right: -13px;
}

.titling__arrow {

	font-size: 12px;
}

.titling__item {
	font-size: 16px;
	color: #a1a6af;
	padding: 12px 15px;
	border: 2px solid rgba(0,0,0,0);
	transition: all 1s ease;
}

.titling__item:hover {
	color: #b81c31;
	border: 2px solid #b81c31;
	border-radius: 5px;
}

.titling__item_txt {
	display: block;
	font-family: 'Museo Sans Cyrl 300';
	font-size: 13px;
}

.content__title {
	color: #081d42;
	font-size: 29px;
	margin-top: 52px;
}

.content__text {
	color: #404048;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 52px;
}

.content__icon {
	background: url("../img/Scale.png") no-repeat center center;
	width: 60px;
	height: 60px;
	border: 3px solid #163366;
	border-radius: 100px;
	margin-top: 35px;
}
.content__secondary-title {
	color: #081d42;
	font-size: 18px;
	margin-top: 35px;
}

.content__secondary-text {
	color: #404048;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 35px;
}

.line:after {
	content: '';
	display: block;
	height: 2px;
	background: #e5e6e8;
}

.content__photo-block {
	margin-top: 40px;
	margin-bottom: 70px;
	flex-wrap:wrap;
	align-content:space-between;
}

.content__photo {
	position: relative;
}

.photo__details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.56);
	color: #fff;
	opacity: 0;
	transition: all 0.5s ease;
}

.photo__link {
	display: block;
	width: 100%;
	height: 100%;
}

.fa-expand{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -12px;
	margin-top: -15px;
	text-decoration: none;
	font-size: 29px;
	color: #fff;
}

.photo__link:hover {
	color: #fff;
}

.content__photo:hover .photo__details {
	opacity: 1;
}

.shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s ease;
}

.content__photo:hover .shadow {
	box-shadow: 0 0 0 10px #fff inset;
}

.photo__open {
	width: 100%;
}

/* SERVICES page*/

.services-section {
	background: url('../img/services_bg.jpg') no-repeat center top;
	color: #fff;
}

.service__image {
	width: 206px;
	height: 206px;
	border: 7px solid rgba(255,255,255,0.3);
	border-radius: 100px;
	background: url('../img/service.png') no-repeat;
}

.services__titling {
	width: 330px;
	color: #fff;
}

.services__title {
	font-size: 25px;
	line-height: 25px;
	color: #fff;
}

.services__text {
	font-size: 15px;
	margin-top: 21px;
}

.services__list {
	width: 100%;
	font-size: 15px;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 5px;
	padding: 16px 25px;
	margin: 38px 0;
}

.services__item {
	margin-top: 13px;
	cursor: pointer;
}

.services__item:hover .services__service {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.services__item:first-child {
	margin-top: 0;
}

.services__service {
	margin-left: 5px;
}

/* Categories SERVICES PAGE*/

.categories

.categories__title {
	margin-top: 55px;
	font-size: 29px;
}

.categories__text {
	margin-top: 20px;
	font-size: 15px;
}

.categories__navigation

.cat-nav__title {
	font-size: 18px;
	color: #969ca9;
	margin: 50px 25px 40px;
}

.cat-nav__list

.cat-nav__item {
	padding: 12px 0 12px 25px;
	border-top: 1px solid #dfdfe8;
	cursor: pointer;
}

.cat-nav__item:hover .cat-nav__elem {
	color: #081d42;
}

.cat-nav__item:last-child {
	border-bottom: 1px solid #dfdfe8;
}

.square {
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 3px;
	background: #aeaeb9;
}

.cat-nav__elem {
	font-size: 15px;
	color: #747487;
	margin-left: 15px;
}

.mt-5px {
	margin-top: 6px;
}

/* Comments */
.categories-comment {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.comment__image {
	width: 140px;
	height: 140px;
	box-shadow: 0 0 0 5px #656e8d inset;
	border-radius: 100px;
}

.comment__image_1 {
	background: url('../img/Valera.png') no-repeat;
}

.comment__image_2 {
	background: url('../img/Andrew.png') no-repeat;
}

.comment__image_3 {
	background: url('../img/Pasha.png') no-repeat;
}

.comment__name {
	font-family: 'Museo Sans Cyrl 700';
	font-size: 15px;
	color: #747487;
	margin: 15px 0 12px;
}

.comment__text {
	font-size: 13px;
	color: #404048;
	width: 280px;
	text-align: center;
}

.comment__media {
	display: block;
	border: none;
	margin: 12px 0 15px;
}

/* FREE CONSULT*/

.free-consult {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 24px 30px;
	border: 2px solid #e3e4e6;
	border-radius: 5px;
	background: url('../img/call_us.png') no-repeat 95% 90%;
}

.free-consult__title {
	font-size: 16px;
	color: #414449;
	margin-bottom: 14px;
}

.free-consult__btn {
    font-size: 14px;
    width: 155px;
    padding: 10px 0;
    color: #b81c31;
    border-color: #b81c31;
    margin: 0;
}

.free-consult__btn:hover {
    color: #fff;
    background: #b81c31;
}

.free-consult__phone {
	font-family: 'Museo Sans Cyrl 700';
	font-size: 14px;
	color: #676d77;
	margin-left: 15px;
}

.free-consult__text {
	font-size: 12px;
	color: #888d95;
	width: 226px;
	margin-top: 14px;
}

/* CONTACTS PAGE */

.info-block-frame {
	position: relative;
}

.info-block {
	position: absolute;
	bottom: 50px;
	right: 15px;
}

/* CONTACT card */

.contact__card {
	position: relative;
	background: rgba(88,100,122,0.7);
	color: #fff;
	padding: 20px 35px 50px;
	border-radius: 10px;
}

.contact__card_triangle {
    position: absolute;
    top: 13px;
    left: -50px;
    content: '';
    border: 25px solid transparent;
    border-right: 25px solid rgba(88,100,122,0.7);
}

.card__titling {
	padding-bottom: 18px;
	border-bottom: 2px solid rgba(255,255,255,0.2);
}

.card__title {
	color: #fff;
	font-size: 21px;
}

.card__media {
	width: 130px;
}

.white {
	color: #fff;
	border-color: #fff;
}

.white:hover {
	border-color: rgba(88,100,122,0);
	background: none;
}

.card__content  {
	margin-top: 45px;
}

.content__left * {
	font-size: 16px;
	color: #fff;
}

.card__address-block {
	margin-top: 23px;
}

.card__address {
	width: 140px;
}

.card__address_kharkov {
	font-size: 15px;
}

.card__email {
	text-decoration: none;
	color: #fff;
}

.card__email-block {
	margin-top: 23px;
}

.card__text {
	width: 180px;
	font-size: 12px;
	margin-bottom: 15px;
}

.mt-3px {
	margin-top: 3px;
	margin-right: 10px;
}


/* SLIDER */

.slider {
	position: relative;
	margin-bottom: 110px;
}

.slick-current {
	outline: none;
}

.slick-arrow {
	position: absolute;
	font-size: 25px;
	color: #404048;
	background: none;
	border: none;
	top: 55px;
	transition: all 0.5s ease;
}

.slick-arrow:active {
	outline: none;
	color: #1d406c;
}

.slick-prev {
	left: -5px; 
}

.slick-next {
	right: -5px;
}

.slick-prev:hover {
	left: -7px;
}

.slick-next:hover {
	right: -7px;
}

.slider .slick-dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	margin-top: 25px;
}

.slick-dots li {
	margin-right: 18px;
}

.slick-dots li button {	
	font-size: 0;
	cursor: pointer;
	background: #bfc8d7;
	width: 11px;
	height: 11px;
	display: block;
	border: none;
}

.slick-dots li.slick-active button {
	background: #8b9ab7;
}

/* MAP */
.contact__map {
	height: 450px;
}

/* PARALAX*/
.paralax {
	position: relative;
}

.move {
    position: absolute;
}